<div class="p-3 m-3">

    <h2>My contact list </h2>
    
    
    <div class="d-flex justify-content-end mb-4">
        <button type="button" class="btn btn-success"><i class="fa-solid fa-plus"></i>&nbsp;New contact</button>
    </div>
    
    
    <div>
    
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Iban</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td class="cursor-pointer">
                    <i class="fa-solid fa-pen-to-square text-primary"></i>&nbsp; | &nbsp;<i class="fa-solid fa-trash-can text-danger"></i>
                </td>
              </tr>

              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td class="cursor-pointer">
                    <i class="fa-solid fa-pen-to-square text-primary"></i>&nbsp; | &nbsp;<i class="fa-solid fa-trash-can text-danger"></i>
                </td>
              </tr>

             <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td class="cursor-pointer">
                    <i class="fa-solid fa-pen-to-square text-primary"></i>&nbsp; | &nbsp;<i class="fa-solid fa-trash-can text-danger"></i>
                </td>
              </tr>

            </tbody>
          </table>
    
    
    </div>
    
    
    
    
    
    
    </div>
