<div class="p-3 m-3">

    <h1>Bank customers </h1>
    
    
    <div class="d-flex justify-content-end mb-4">
        <div class="form-check form-switch">
            <label class="form-check-label" for="flexSwitchCheckDefault"><h5>show inactive users only</h5></label>
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          </div>
    </div>
    
    
    <div>
    
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Iban</th>
                <th scope="col">State</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td><span class="badge text-bg-warning">Inactive</span></td>
                <td class="cursor-pointer">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">&nbsp;&nbsp;  | &nbsp; &nbsp;<i class="fa-solid fa-trash-can text-danger"></i>
                </td>
              </tr>

              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td><span class="badge text-bg-success">Active</span></td>
                <td class="cursor-pointer">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">&nbsp;&nbsp;  | &nbsp; &nbsp;<i class="fa-solid fa-trash-can text-danger"></i>
                </td>
              </tr>

             <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td><span class="badge text-bg-warning">Inactive</span></td>
                <td class="cursor-pointer">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">&nbsp; &nbsp; | &nbsp; &nbsp;<i class="fa-solid fa-trash-can text-danger"></i>
                </td>
              </tr>

            </tbody>
          </table>
    
    
    </div>
    
    
    
    
    
    
    </div>