<div class="m-5 mb-2">

    <h1 class="mb-4">New contact</h1>

    <div class="card p-3 mt-2 with">

       <div class="m-2"> 

        <input type="text" class="form-control mb-2" id="exampleFormControlInput1" placeholder="Firstname">
        <input type="text" class="form-control mb-2" id="exampleFormControlInput1" placeholder="Lastname">
        <input type="text" class="form-control mb-2" id="exampleFormControlInput1" placeholder="Iban">
        </div>

        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-link">Cancel</button>&nbsp;&nbsp;
            <button type="button" class=" btn btn-danger"><i class="fa-regular fa-floppy-disk"></i>&nbsp;Save</button>
        </div>
          


    </div>

</div>
