<div class="container card center">

    <div class="text-center mt-2">
        <h3>Create an account</h3>
    </div>
    <hr>
    

    <div class="mb-3">
        <label for="Firstname" class="form-label">Firstname </label>
        <input type="firstname" class="form-control" id="firstname" placeholder="firstname">
      </div>
      <div class="mb-3">
        <label for="Lastname" class="form-label">Lastname</label>
        <input type="lastname" class="form-control" id="lastname" placeholder="lastname">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email </label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="password">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Confirm password</label>
        <input type="password" class="form-control" id="password" placeholder=" Confirm password">
      </div>

      <div class="d-flex  justify-content-between mt-2 mb-3" >

        <button type="button" class="btn btn-primary "><i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;Create an account</button>
        <div>
            already have an account?&nbsp;<button type="button" class="btn btn-link btn-lg">login</button>
      </div>
      </div>



</div>>
