<div class="m-5 mb-2">

    <h1 class="mb-4">New transaction</h1>

    <div class="card p-3 mt-2 with">

        <h3>your account balance: 21800€</h3>

       <div class="m-2"> <select class="form-select" aria-label="Default select example">
            <option selected>Contact</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select><select class="form-select" aria-label="Default select example">
            <option selected>Transaction type</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Amount">
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Iban">
        </div>

        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-link">Cancel</button>&nbsp;&nbsp;
            <button type="button" class=" btn btn-danger"><i class="fa-regular fa-floppy-disk"></i>&nbsp;Save</button>
        </div>
          


    </div>

</div>
